{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container pt-3">
  <form method="post">
    <div class="form-group">
      <label for="name">Name: </label>
      <input name="name" id="name" placeholder="Enter your name" required>
    </div>
    <div class="form-group">
      <label for="usertext">Enter Your Text:</label>
      <textarea class="form-control" name="usertext" id="usertext" rows="5" cols="50" placeholder="Enter the text you would like to match" required></textarea>
    </div>
    <!--- haven't inplemented yet
    <input type="radio" id="similar" name="testType" value="similar" checked>
    <label for="similar">Most Similar To</label><br>
    <input type="radio" id="different" name="testType" value="different">
    <label for="">Most Different From</label><br>
    <input type="radio" id="friend" name="testType" value="friend">
    <label for="friend">Most Likely to Become Friends With</label>
    <br>
    --->
    <input type="submit" class="btn btn-primary btn-lg" value="Match me!">
  </form>
</div>
{% endblock %}

</html>