{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}ENTER THE CHARACTER YOU WOULD LIKE TO FIND THE ALTERNATE IDENTITY FOR{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container pt-3">
  <form method="post">
    <div class="form-group">
      <label for="char_name">Character Name: </label>
      <input class="form-control" name="char_name" id="char_name" placeholder="Enter the character name" required>
    </div>
    <div class="form-group">
      <label for="movie_name">Movie Name:</label>
      <input class="form-control" name="movie_name" id="movie_name" placeholder="Enter the movie name" required>
    </div>
    <input id="matchMe" type="submit" class="btn btn-primary btn-lg" value="Match them!" onclick="showLoading();">
  </form>
  <script type="text/javascript">

  function showLoading() {
    document.getElementById('matchMe').value = "Loading...";
  }
  </script>
  <noscript>Sorry, your browser does not support JavaScript!</noscript>
</div>
{% endblock %}