{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>
    <br>
    <label for="usertext">Enter Your Text:</label>
    <input style="width:400px;" name="usertext" id="usertext" required>
    <br>
    <!--- haven't inplemented yet
    <input type="radio" id="similar" name="testType" value="similar" checked>
    <label for="similar">Most Similar To</label><br>
    <input type="radio" id="different" name="testType" value="different">
    <label for="">Most Different From</label><br>
    <input type="radio" id="friend" name="testType" value="friend">
    <label for="friend">Most Likely to Become Friends With</label>
    <br>
    --->
    <input type="submit" value="Submit">
  </form>
{% endblock %}

</html>