{% extends 'base.html' %}
{% block title %}Output{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Based on your text, you, {{username}}, have been matched with ....</h1>
    <h1>{{character_name}}!!!</h1>
    {% if sentences %}
    <h2>from the novel <i>{{title}}</i></h2>
    {% endif %}
    <!-- haven't implemented
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Sherlock_Holmes_Portrait_Paget.jpg" alt="Sherlock">
    -->
</div>
{% if concepts %}
<div>
    You had these concepts in your text:
    <ul>
        {% for concept in concepts %}
        <li>{{concept.replace("_"," ")}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if char_concepts %}
<div>
    The character you matched with had these concepts in their text:
    <ul>
        {% for concept in char_concepts %}
        <li>{{concept.replace("_"," ")}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if sentences %}
<div>
    Sentences involving {{character_name}} from {{title}}:
    <ul>
        {% for sentence in sentences%}
        <li>{{sentence}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="row">
    <div class="col card">
        <div class="card-body">
            <h4 class="card-title">Your Emotions Chart</h4>
        </div>
        <img class="card-img-bottom" src="{{url_for('static',filename=file_name)}}" alt="Your Emotions chart image">
    </div>
    {% if sentences %}
    <div class="col card">
        <div class="card-body">
            <h4 class="card-title">Character's Emotions Chart</h4>
        </div>
        <img class="card-img-bottom" src="{{url_for('static',filename=file_name3)}}" alt="Character's Emotions chart image">
    </div>
    {% endif %}
</div>
<div class="container">
    <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Match me again!</a>
</div>
<!--{% if file_name2 %}-->
<!--<div class="row">-->
<!--  <div class="col card">-->
<!--    <div class="card-body">-->
<!--      <h4 class="card-title">Concepts Chart</h4>-->
<!--    </div>-->
<!--    <img class="card-img-bottom" src="{{url_for('static',filename=file_name2)}}" alt="Concepts chart image">-->
<!--  </div>-->
<!--</div>-->
<!--{% endif %}-->
<!-- haven't implemented
  <div>
    <P>Here are some quotes from this character:</p>
    <ul>
      <li>“When you have eliminated the impossible, whatever remains, however improbable, must be the truth?” — The Sign of Four</li>
      <li>“Watson. Come at once if convenient. If inconvenient, come all the same.” — The Adventure of the Creeping Man</li>
      <li>“I am a brain, Watson. The rest of me is a mere appendix.” ― The Adventure of the Mazarin Stone </li>
    </ul>
  </div>
  <div>
  <p>You were matched with this character because you are:</p>
  <ul>
    <li>Bossy</li>
    <li>Perceptive</li>
    <li>Stubborn</li>
  </ul>
  </div>
  <div>
  <p>Top characters other users matched with:</p>
  <ol>
    <li>Sherlock Holmes</li>
    <li>Jane Eyre</li>
    <li>Marius Pontmercy</li>
  </ol>
  </div>
  -->
{% endblock %}

